<br>

<header>
  <div id="logo">Logotipo</div>

  <div id="icono1" class="redes">X</div>
  <div id="icono2" class="redes">X</div>
  <div id="icono3" class="redes">X</div>
</header>

<nav>
  <ul>
    <li class="botones">Boton 1</li>
    <li class="botones">Boton 2</li>
    <li class="botones">Boton 3</li>
    <li class="botones">Boton 4</li>
    <li class="botones">Boton 5</li>
  </ul>
</nav>


<div id="top">
  
  <ul>
    <li>
      <img src="../assets/img/img1.jpg" width="100">
      <h1>Titulo</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nesciunt nostrum minima ipsam doloremque optio obcaecati perferendis eum a vero blanditiis alias possimus iste, vel quia similique cum nemo officia.</p>
    </li>
    <li>
      <img src="../assets/img/img2.jpg" width="100">
      <h1>Titulo</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nesciunt nostrum minima ipsam doloremque optio obcaecati perferendis eum a vero blanditiis alias possimus iste, vel quia similique cum nemo officia.</p>
    </li>
    <li>
      <img src="../assets/img/img3.jpg" width="100">
      <h1>Titulo</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut nesciunt nostrum minima ipsam doloremque optio obcaecati perferendis eum a vero blanditiis alias possimus iste, vel quia similique cum nemo officia.</p>
    </li>
  </ul>

</div>

<section>
  <aside id="izq">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </aside>
  <article>
    <h1>Titulo de articulo
      <p><img src="../assets/img/img4.jpg" width="250">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam consectetur voluptate praesentium dolores molestiae molestias excepturi laborum at. Ipsam amet natus facere non beatae ea rem illo reprehenderit distinctio perspiciatis.</p>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nesciunt in necessitatibus quas nihil corrupti laboriosam ipsam sunt consequatur! Ratione fugit incidunt quas quibusdam vel, sint voluptatum in laborum esse.</p>

    </h1>
  </article>
  <aside id="der">
    <h1>Login</h1>
    <form action="">
      <input type="text" placeholder="Usuario">
      <input type="password" placeholder="password">
      <input type="submit" placeholder="enviar" name="Enviar">
    </form>
  </aside>
</section>


<footer>&copy; Todos los derechos reservados</footer>





<br>
<hr>
<!--
<div id="content" class="col-lg-10 col-lg-offset-1">

  <header id="header" class="col-lg-12" [style.background]="header_color">
    <h1>{{title}}</h1>
  </header>

  <nav id="nav" class="col-lg-12">
      <section class="nheader">
          <article class="nMenu"><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></article>
          <article class="nMenu"><a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a></article>
          <article class="nMenu"><a [routerLink]="['/crearproducto']" [routerLinkActive]="['activado']">Crear producto</a></article>
          <article class="nMenu"><a [routerLink]="['/productos-list2']" [routerLinkActive]="['activado']">Productos 2</a></article>
        </section>
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
      <li><a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a></li>
      <li><a [routerLink]="['/crearproducto']" [routerLinkActive]="['activado']">Crear producto</a></li>
      <li><a [routerLink]="['/productos-list2']" [routerLinkActive]="['activado']">Productos 2</a></li>
    </ul>
  </nav>


  <section id="main" class="col-lg-12">
    <! Componente actual >
    <router-outlet></router-outlet>
  </section>

  <footer id="footer" class="col-lg-12">
    <p>Web app Mascotas powered by Erick Piña</p>
  </footer>


</div>  -->