


<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo"><a href="index.html">urku portfolio<sup>tm</sup></a></h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item"><a href="index.html" class="rk-menu__link">Home</a>
          </li>
          <li class="active rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Portfolio</a>
          </li>
          <li class="rk-menu__item"><a href="blog.html" class="rk-menu__link">Blog</a>
          </li>
          <li class="rk-menu__item"><a href="#0" class="rk-menu__link">Pages</a>
            <nav class="rk-menu__sub">
              <ul class="rk-container">
                <li class="rk-menu__item"><a href="about.html" class="rk-menu__link">About</a></li>
                <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">Documentation</a></li>
                <li class="rk-menu__item"><a href="design-styles.html" class="rk-menu__link">Design Styles</a></li>
              </ul>
            </nav>
          </li>
          <li class="rk-menu__item"><a href="contact.html" class="rk-menu__link">Contact Us</a>
          </li>
        </ul>
        <form class="rk-search">
          <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </form>
      </nav>
    </div>
  </header>


  <section class="ae-container-fluid rk-main">

    <router-outlet></router-outlet>

  </section>


  <footer class="ae-container-fluid rk-footer ">
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
          <ul class="rk-menu rk-footer-menu">
            <li class="rk-menu__item"><a href="about.html" class="rk-menu__link">About</a>
            </li>
            <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">Docs</a>
            </li>
            <li class="rk-menu__item"><a href="contact.html" class="rk-menu__link">Contact</a>
            </li>
          </ul>
          <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{year}} URKU PORTFOLIO </span>All Right Reserved.</p>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center"><a href="#0" class="rk-social-btn ">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
            </svg></a><a href="#0" class="rk-social-btn ">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
            </svg></a><a href="#0" class="rk-social-btn ">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
            </svg></a>
          </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
          <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="#0" class="rk-dark-color ">contact@urkuportfolio.com </a></span></p>
          <p class="rk-footer__text rk-footer__by">Theme by <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a></p>
        </div>
      </div>
    </footer>


<!--
<div id="content" class="col-lg-10 col-lg-offset-1">

  <header id="header" class="col-lg-12" [style.background]="header_color">
    <h1>{{title}}</h1>
  </header>

  <nav id="nav" class="col-lg-12">
      <section class="nheader">
          <article class="nMenu"><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></article>
          <article class="nMenu"><a [routerLink]="['/productos']" [routerLinkActive]="['activado']">Productos</a></article>
          <article class="nMenu"><a [routerLink]="['/crearproducto']" [routerLinkActive]="['activado']">Crear producto</a></article>
          <article class="nMenu"><a [routerLink]="['/productos-list2']" [routerLinkActive]="['activado']">Productos 2</a></article>
        </section>
  </nav>


  <section id="main" class="col-lg-12">
    <! Componente actual >
    <router-outlet></router-outlet>
  </section>

  <footer id="footer" class="col-lg-12">
    <p>Web app Mascotas powered by Erick Piña</p>
  </footer>


</div>
-->