<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">
        <h2>{{titulo}}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, qui! Laborum, optio. Excepturi ipsum inventore sapiente eius, obcaecati incidunt ea ex quia quod delectus odit eveniet repellendus laboriosam corrupti. Esse.</p>
        <p>
            <a [routerLink]="['/productos']" class="btn-lg btn-success">Ver productos</a>
            <a [routerLink]="['/crearproducto']" class="btn-lg btn-primary">Agregar productos</a>
        </p>
    </div>
</div>