<section class="ae-container-fluid ae-container-fluid--full">
    <header class="rk-portfolio-cover" [ngStyle]="{
        'background-image': 'url(http://localhost/CodeIgniter/uploads/b1.jpg)',
        'background-position': '50% 100%',
        'background-size': '110%'
    }">
        <div class="item-inside__meta" [ngStyle]="{
            'color': 'white',
            'padding-bottom': '80px'
        }">
        <h1 class="ae-u-bolder rk-portfolio-title ">{{titulo}}</h1>
        <p class="ae-theta rk-portfolio-category">
            <a [routerLink]="['/productos']" class="btn-lg btn-success">Ver productos</a>
            <a [routerLink]="['/crearproducto']" class="btn-lg btn-primary">Agregar productos</a>
        </p>
        </div>
    </header>
</section>